/* Mengatur gaya dasar untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Mengatur gaya untuk kontainer utama */
.container { display: flex;
    font-size: 10px;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: justify;
}

/* Mengatur gaya untuk judul utama */
h1 {
    color: #333;
    margin-bottom: 10px;
}

/* Gaya untuk keterangan dan peringatan */
p{
    font-size: 10px;
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Gaya untuk daftar fitur dan penyakit */
ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
    color: #666;
    text-align: left;
}

#bmiform{ font-size: 10px;}
/* Gaya untuk form */
.form-group {
    padding-left: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    text-align: left;
}

/* Gaya untuk label pada form */
label {
    display: block;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Gaya untuk input form */
input[type="number"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Gaya untuk radio button */
input[type="radio"] {
    margin-right: 5px;
}

/* Gaya untuk tombol */
.form-buttons {
    font-size: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}

.reset-btn {
    background-color: #f44336; /* Warna merah untuk tombol reset */
}

.btn {
    background-color: #4CAF50; /* Warna hijau untuk tombol hitung */
}

/* Gaya untuk hasil BMI */
.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.result h2 {
    margin: 0 0 10px 0;
    color: #333;
}

.result p {
    margin: 5px 0;
    color: #555;
}

/* Menyembunyikan elemen hasil secara default */
.hidden {
    display: none;
}